<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title background-line">
			<span>
				Nova senha
			</span>
		</div>
	</div>
	<div class="panel-body">
		<p class="lead">
			Enviamos para o seu email <br class="hidden-xs">fel***@gmail.com <br class="hidden-xs">um link para a troca da sua senha.
		</p>

		<div class="margin-bottom-xs">
			<button type="submit" class="btn btn-block" onclick="location='/acesso/esqueci-minha-senha'">
				Renviar link
			</button>
		</div>
		<div class="help">
			<a href="#">
				Precisa de ajuda? Fale com a nossa equipe!
			</a>
		</div>
	</div>
</div>