<div class="panel panel-default">
  <div class="panel-body">
    <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <!--PERFIL DA EMPRESA-->
      <h4>Perfil da Empresa</h4>
      <div class="form-group">
        <label>Selecione o perfil de uso da empresa:</label>
        <div class="checkbox">
          <label class="checkbox">
            <input type="checkbox">
            <span>Pedir fretes</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>Fazer entregas</span>
          </label>
        </div>
      </div>
      <h4>Dados da Empresa</h4>
      <div class="row">
        <div class="col-md-12">
          <!--NOME FANTASIA-->
          <div class="form-group">
            <label for="fantasyName">Nome Fantasia:</label>
            <input formControlName="fantasyName" [class.has-error]="form.get('fantasyName').errors && form.get('fantasyName').touched" type="text" class="form-control">
            <p class="help-block" *ngIf="form.get('fantasyName').hasError('required') && form.get('fantasyName').touched">
              * Campo obrigatório.
            </p>
            <p class="help-block" *ngIf="form.get('fantasyName').hasError('minlength') && form.get('fantasyName').touched">
              * A quantidade de caracteres mínima é 5.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <!--RAZÃO SOCIAL-->
          <div class="form-group">
            <label for="socialName">Razão Social:</label>
            <input formControlName="socialName" [class.has-error]="form.get('socialName').errors && form.get('socialName').touched" type="text" class="form-control">
            <p class="help-block" *ngIf="form.get('socialName').hasError('required') && form.get('socialName').touched">
              * Campo obrigatório.
            </p>
            <p class="help-block" *ngIf="form.get('socialName').hasError('minlength') && form.get('socialName').touched">
              * A quantidade de caracteres mínima é 5.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--CNPJ-->
          <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input formControlName="cnpj" type="text" [textMask]="{mask: cnpjMask}"
              [class.has-error]="form.get('cnpj').errors && form.get('cnpj').touched" class="form-control">
            <p class="help-block" *ngIf="form.get('cnpj').hasError('required') && form.get('cnpj').touched">
              * Campo obrigatório.
            </p>
            <p class="help-block" *ngIf="form.get('cnpj').hasError('invalidCNPJ') && form.get('cnpj').touched && !form.get('cnpj').hasError('required')">
              * O CNPJ informado não é válido.
            </p>
          </div>
        </div>
      </div>
      <h4>Endereço</h4>
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <!--CEP-->
          <div class="form-group">
            <label for="zipCode">CEP:</label>
            <input formControlName="zipCode" [class.has-error]="form.get('zipCode').errors && form.get('zipCode').touched"
              [textMask]="{mask: cepMask}" (blur)="getAddress()" class="form-control" >
            <p class="help-block" *ngIf="form.get('zipCode').errors && form.get('zipCode').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--LOGRADOURO-->
          <div class="form-group">
            <label for="address">Endereço:</label>
            <input formControlName="address" [class.has-error]="form.get('address').errors && form.get('address').touched" type="text" class="form-control">
            <p class="help-block" *ngIf="form.get('address').errors && form.get('address').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <!--NÚMERO-->
          <div class="form-group">
            <label for="number">Número:</label>
            <input formControlName="number" [class.has-error]="form.get('number').errors && form.get('number').touched" type="number" id="num" class="form-control">
            <p class="help-block" *ngIf="form.get('number').errors && form.get('number').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--COMPLEMENTO-->
          <div class="form-group">
            <label for="complement">Complemento:</label>
            <input formControlName="complement" [class.has-error]="form.get('complement').errors && form.get('complement').touched" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!--BAIRRO-->
          <div class="form-group">
            <label for="neighbor">Bairro:</label>
            <input formControlName="neighbor" [class.has-error]="form.get('neighbor').errors && form.get('neighbor').touched" type="text" class="form-control">
            <p class="help-block" *ngIf="form.get('neighbor').errors && form.get('neighbor').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--CIDADE-->
          <div class="form-group">
            <label for="city">Cidade:</label>
            <input formControlName="city" [class.has-error]="form.get('city').errors && form.get('city').touched" type="text" class="form-control">
            <p class="help-block" *ngIf="form.get('city').errors && form.get('city').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--ESTADO-->
          <div class="form-group">
            <label for="state">Estado:</label>
            <select formControlName="state" [class.has-error]="form.get('state').errors && form.get('state').touched" class="form-control">
              <option value="" hidden>Selecione...</option>
              <option *ngFor="let state of states" [value]="state.abbr">{{state.abbr}}</option>
            </select>
            <p class="help-block" *ngIf="form.get('state').errors && form.get('state').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
      </div>
      <h4>Contato</h4>
      <div class="row">
        <div class="col-md-4">
          <!--E-MAIL-->
          <div class="form-group">
            <label for="email">Email:</label>
            <input formControlName="email" [class.has-error]="form.get('email').errors && form.get('email').touched" type="email" class="form-control">
            <p class="help-block" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              * Campo obrigatório.
            </p>
            <p class="help-block" *ngIf="form.get('email').hasError('invalidEmail') && form.get('email').touched && !form.get('email').hasError('required')">
              * O e-mail informado não é válido.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--CELULAR-->
          <div class="form-group">
            <label for="cellphone">Celular:</label>
            <input formControlName="cellphone" [class.has-error]="form.get('cellphone').errors && form.get('cellphone').touched" 
              type="text" class="form-control" [textMask]="{mask: cellMask}">
            <p class="help-block" *ngIf="form.get('cellphone').errors && form.get('cellphone').touched">
              * Campo obrigatório.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <!--TELEFONE-->
          <div class="form-group">
            <label for="telephone">Telefone:</label>
            <input formControlName="telephone" [textMask]="{mask: phoneMask}" type="text" class="form-control">
          </div>
        </div>
      </div>
      <!--CADASTRAR/LIMPAR-->
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>Salvar</span>
      </button>
    </form>
  </div>
</div>