<div class="wrapper-heading">
  <ul>
    <li>
      <a [routerLink]="['/negocios/dashboard']" routerLinkActive="disabled">
        Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['/negocios/perfil']" routerLinkActive="disabled">
        Perfil
      </a>
    </li>
    <li>
      <a [routerLink]="['/negocios/usuarios']" routerLinkActive="disabled">
        Usuários
      </a>
    </li>
    <li>
      <a [routerLink]="['/negocios/veiculos']" routerLinkActive="disabled">
        Veículos
      </a>
    </li>
    <li>
      <a [routerLink]="['/negocios/motoristas']" routerLinkActive="disabled">
        Motoristas
      </a>
    </li>
  </ul>
</div>