<section>
  <header class="page-header">
    <h2>
      Motoristas
    </h2>
    <p>
      Relação de motoristas cadastrados
    </p>
    <div class="actions">
      <a [routerLink]="['./novo']" class="btn btn-default">
        <i class="fa fa-plus" aria-hidden="true"></i> Cadastrar
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <section>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Venc. CNH</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Acesso</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let driver of drivers">
                    <td>{{driver.name}}</td>
                    <td class="text-nowrap">{{driver.cnhExpirationDate}}</td>
                    <td class="text-nowrap">{{driver.cellphone}}</td>
                    <td>{{driver.email}}</td>
                    <td>{{driver.active ? 'Ativo' : 'Desativado'}}</td>
                    <td>
                      <div class="btn-group pull-right">
                        <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Associar veículos">
                          <i class="fa fa-id-badge" aria-hidden="true"></i>
                        </a>
                        <!--<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>-->
                        <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Bloquear acesso">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="!drivers.length">
                    <td colspan="100">
                      Nenhum motorista cadastrado
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>