<div class="wrapper-content">
  <app-bread-crumb></app-bread-crumb>
  <section>
    <header class="page-header">
      <h2>
        Motoristas
      </h2>
      <p>
        Relação de motoristas cadastrados
      </p>
      <div class="actions">
        <form class="form-inline">
          <div class="form-group">
            <select name="action1" id="action1" class="form-control">
              <option value="all">Todas</option>
            </select>
          </div>
          <div class="form-group">
            <select name="action2" id="action2" class="form-control">
              <option value="">Todos</option>
            </select>
          </div>
          <button type="submit" class="btn btn-info">Filtrar</button>
        </form>
      </div>
    </header>
  	<div class="row">
  		<div class="col-xs-12">
  			<section>
  				<div class="panel panel-default">
  					<div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>
                        ID
                      </th>
                      <th>
                        Nome
                      </th>
                      <th>
                        CPF
                      </th>
                      <th>
                        Celular
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        &nbsp;
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-nowrap">
                        001
                      </td>
                      <td>
                        Felipe Lomeu
                      </td>
                      <td class="text-nowrap">
                        106.825.847-03
                      </td>
                      <td class="text-nowrap">
                        (27) 99887-6314
                      </td>
                      <td class="text-nowrap">
                        lomeu.br@gmail.com
                      </td>
                      <td class="text-nowrap">
                        Autorizado
                      </td>
                      <td>
                        <div class="btn-group pull-right">
                          <a [routerLink]="['/motoristas/id']" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Mais informações">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                          </a>
                          <!-- se não tiver aprovado, exibe a opção de aprovar -->
                          <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Aprovar">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                          </a>
                          <!-- se já tiver aprovado, exibe a opção de bloquear -->
                          <!--
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Bloquear">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                          -->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  					</div>
            <div class="panel-footer">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="disabled">
                    <a href="#">1</a>
                  </li>
                  <li class="active">
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
  				</div>
  			</section>
  		</div>
  	</div>
  </section>
</div>
