<div class="wrapper-content">
  <app-bread-crumb></app-bread-crumb>
  <section>
    <header class="page-header">
      <h2>
        Perguntas Frequentes
      </h2>
      <p>
        Relação de perguntas e respostas cadastradas
      </p>
      <div class="actions">
        <a [routerLink]="['/faq/novo']" class="btn btn-default">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Cadastrar
        </a>
      </div>
    </header>
	<div class="panel panel-default">
		<div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Categoria
              </th>
              <th>
                Pergunta
              </th>
              <th>
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap">
                001
              </td>
              <td>
                Financeiro
              </td>
              <td class="text-nowrap">
                Quanto eu vou ganhar fazendo frete?
              </td>
              <td>
                <div class="btn-group pull-right">
                  <a [routerLink]="['/faq/novo']" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
		</div>
	</div>
  </section>
</div>
