<section>
  <header class="page-header">
    <h2>Cadastro de Veículo</h2>
    <p>Informações do veículo para atender pedidos de entregas para o seu negócio</p>
  </header>
  <!--<div class="alert alert-danger" role="alert">
    Seu veículo não foi aprovado. Sugerimos enviar novas fotos.
  </div>-->

  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <h4>Informações do modelo</h4>
        <div class="form-group">
          <label for="tipo">Categoria:</label>
          <select name="tipo" class="form-control" formControlName="categoryId">
          <option hidden value="0">Selecione...</option>
          <option *ngFor="let type of vehicleTypes" [value]="type.id">{{type.name}}</option>
        </select>
          <p class="help-block" *ngIf="form.get('categoryId').hasError('required') && form.get('categoryId').touched">
            * Campo obrigatório.
          </p>
        </div>
        <div class="row">
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <label for="make">Marca:</label>
              <input formControlName="make" [class.has-error]="form.get('make').errors && form.get('make').touched" type="text" class="form-control">
              <p class="help-block" *ngIf="form.get('make').hasError('required') && form.get('make').touched">
                * Campo obrigatório.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-5">
            <div class="form-group">
              <label for="model">Modelo:</label>
              <input formControlName="model" [class.has-error]="form.get('model').errors && form.get('model').touched" type="text" class="form-control">
              <p class="help-block" *ngIf="form.get('model').hasError('required') && form.get('model').touched">
                * Campo obrigatório.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="form-group">
              <label for="year">Ano do modelo:</label>
              <input formControlName="year" [class.has-error]="form.get('year').errors 
              && form.get('year').touched" type="text" class="form-control" [textMask]="{mask: yearMask}">
                <p class="help-block" *ngIf="form.get('year').hasError('required') && form.get('year').touched">
                  * Campo obrigatório.
                </p>
            </div>
          </div>
        </div>
        <h4>
          Dados do veículo
        </h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="placa">Placa:</label>
              <input formControlName="plate" [textMask]="{mask: plateMask}" (blur)="plateToUpper()" id="plate" [class.has-error]="form.get('plate').errors && form.get('plate').touched"
                type="text" class="form-control">
                <p class="help-block" *ngIf="form.get('plate').hasError('required') && form.get('plate').touched">
                  * Campo obrigatório.
                </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="renavam">Renavam:</label>
              <input formControlName="renavam" [class.has-error]="form.get('renavam').errors && form.get('renavam').touched" type="text"
                class="form-control">
                <p class="help-block" *ngIf="form.get('renavam').hasError('required') && form.get('renavam').touched">
                  * Campo obrigatório.
                </p>
            </div>
          </div>
        </div>
        <h4>
          Características
        </h4>
        <div class="form-group">
          <label>Variavel com itens excludente:</label>
          <div class="radio">
            <label class="radio"><input type="radio" name="optradio"> Lorem Ipsum</label>
            <label class="radio"><input type="radio" name="optradio"> Lorem Ipsum</label>
            <label class="radio"><input type="radio" name="optradio"> Lorem Ipsum</label>
          </div>
        </div>
        <div class="form-group">
          <label>Variavel com itens não excludente:</label>
          <div class="checkbox">
            <label class="checkbox"><input type="checkbox"> Lorem Ipsum</label>
            <label class="checkbox"><input type="checkbox"> Lorem Ipsum</label>
            <label class="checkbox"><input type="checkbox"> Lorem Ipsum</label>
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        <i class="fa fa-check" aria-hidden="true"></i>
        Salvar
      </button>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-title">
      <div class="panel-heading">
        <h3 class="panel-title">
          Galeria de Imagens
        </h3>
      </div>
    </div>
    <div class="panel-body">
      <h4>
        Fotos
      </h4>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Frente:" [name]="'frente'" (onComplete)="onUploaded($event)" [imageName]="'frente'" [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Lateral do Motorista:" [name]="'lateralMotorista'" (onComplete)="onUploaded($event)" [imageName]="'lateralMotorista'"
            [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Lateral do Carona:" [name]="'lateralCarona'" (onComplete)="onUploaded($event)" [imageName]="'lateralCarona'"
            [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Traseira:" [name]="'traseira'" (onComplete)="onUploaded($event)" [imageName]="'traseira'" [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Complementar:" [name]="'complementar'" (onComplete)="onUploaded($event)" [imageName]="'complementar'"
            [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Complementar:" [name]="'complementar'" (onComplete)="onUploaded($event)" [imageName]="'complementar'"
            [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
      </div>
      <h4>
        Documentação
      </h4>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xlg-2">
          <bee-image-upload title="Documento (CRV):" [name]="'documento'" (onComplete)="onUploaded($event)" [imageName]="'documento'"
            [imageUrlFallback]="'http://lorempixel.com/120/120/transport'"></bee-image-upload>
        </div>
      </div>
    </div>
  </div>
</section>