<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title background-line">
			<span>
				Tudo certo
			</span>
		</div>
	</div>
	<div class="panel-body">
		<p class="lead">
			Sua nova senha <br class="hidden-xs">foi definida com sucesso!
		</p>
		<div class="margin-bottom-xs">
			<button type="submit" class="btn btn-block" onclick="location='/acesso/entrar'">
				Ok
			</button>
		</div>
		<div class="help">
			<a routerLink="#">
				Precisa de ajuda? Fale com a nossa equipe!
			</a>
		</div>
	</div>
</div>