<div class="heading">
  <div class="container">
    <h1>
      Excelência para atender suas necessidades
    </h1>
    <h2>
      Tudo para revolucionar o transporte de mercadorias no Brasil
    </h2>
  </div>
</div>
<bee-steps>
  <step number="1">
    Criar conta
  </step>
  <step number="2">
    Validar código SMS
  </step>
  <step number="3" [active]="true">
    Escolher perfil
  </step>
</bee-steps>
<div class="register">
  <a routerLink="/plataforma/dashboard" class="btn btn-block btn-lg btn-particular">
		Sou Particular
		<br>
		<small>
			(Quero pedir fretes)
		</small>
	</a>
  <a routerLink="/plataforma/negocios/novo" class="btn btn-block btn-lg btn-fretista">
		Sou Empresa
		<br>
		<small>
			(Minha empresa precisa pedir fretes)
		</small>
	</a>
  <a routerLink="/plataforma/fazer-frete" class="btn btn-block btn-lg btn-empresa">
		Sou Fretista
		<br>
		<small>
			(Quero fazer entregas)
		</small>
	</a>
</div>
<div class="cta">
  <a href="#">
    <small>
			Precisa de ajuda?
		</small> Fale com nossa equipe!
  </a>
</div>