<div class="wrapper-content">
  <breadcrumb></breadcrumb>
  <section>
    <header class="page-header">
      <h2>
        Resumo das Entregas
      </h2>
      <p>
        Resumo das operações de entregas realizadas
      </p>
    </header>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total recebido
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 30,01
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$150,93
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total à receber
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 0,00
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$ 0,00
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total acumulado
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 30,01
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$91,30
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header class="page-header">
      <h2>
        Resumo dos Pedidos
      </h2>
      <p>
        Resumo das operações de pedidos realizados
      </p>
    </header>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total pago
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 30,01
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$150,93
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total à pagar
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 0,00
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$ 0,00
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>Total acumulado
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Neste mês:
              <strong>
                R$ 30,01
              </strong>
            </p>
            <p>
              Total:
              <strong>
                R$91,30
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>