<div class="heading">
	<div class="container">
		<h1>
			Excelência para atender suas necessidades
		</h1>
		<h2>
			Tudo para revolucionar o transporte de mercadorias no Brasil
		</h2>
	</div>
</div>
<div class="steps">
	<div class="container">
		<div class="row steps-bar">
			<div class="col-xs-6">
				<div class="step step-1">
					<div class="circle">
						<span>1</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="step step-2">
					<div class="circle active">
						<span>2</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row steps-title">
			<div class="col-xs-6">
				<div class="step step-1">
					<span>
						Crie sua conta
					</span>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="step step-2 active">
					<span>
						Lorem Ipsum
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="register">
	<a href="/" class="btn btn-block btn-lg btn-particular">
		Sou Particular
		<br>
		<small>
			(Quero pedir fretes)
		</small>
	</a>
	<a href="/" class="btn btn-block btn-lg btn-fretista">
		Sou Empresa
		<br>
		<small>
			(Minha empresa precisa pedir fretes)
		</small>
	</a>
	<a href="/" class="btn btn-block btn-lg btn-empresa">
		Sou Fretista
		<br>
		<small>
			(Quero fazer entregas)
		</small>
	</a>
</div>
<div class="cta">
	<a href="#">
		<small>
			Precisa de ajuda?
		</small>
		Fale com nossa equipe!
	</a>
</div>