<div class="wrapper-content">
	<app-bread-crumb></app-bread-crumb>
	<section>
		<header class="page-header">
			<h2>
				Gerenciador de Negócios
			</h2>
			<p>
				Selecione o perfil de acesso que deseja utilizar
			</p>
			<div class="actions">
				<a [routerLink]="['/negocios/novo']" class="btn btn-default">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Cadastrar Negócio
				</a>
			</div>
		</header>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="profile-button">
					<div class="row">
						<div class="col-sm-6 col-lg-4">
							<a href="#" class="btn btn-block">
								<div class="media">
									<div class="media-left">
										<img src="/assets/beebee/temp/profile-business-0.jpg">
									</div>
									<div class="media-body">
										<h4 class="media-heading">
											Acesso pessoal
										</h4>
										<small>
											106.825.847-03
										</small>
										<small>
											Retornar para sua conta
										</small>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4">
							<a href="#" class="btn btn-block active">
								<div class="media">
									<div class="media-left">
										<img src="/assets/beebee/temp/profile-business-1.jpg">
									</div>
									<div class="media-body">
										<h4 class="media-heading">
											Manuel Transportes
										</h4>
										<small>
											16.729.396/0001-42
										</small>
										<small>
											Administrador
										</small>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4">
							<a href="#" class="btn btn-block">
								<div class="media">
									<div class="media-left">
										<img src="/assets/beebee/temp/profile-business-2.jpg">
									</div>
									<div class="media-body">
										<h4 class="media-heading">
											Millenium Transportes
										</h4>
										<small>
											54.233.032/0007-10
										</small>
										<small>
											Motorista
										</small>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>