<div class="wrapper-heading">
  <ul>
    <li>
      <a [routerLink]="['./dashboard']" routerLinkActive="disabled">
        Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['./perfil']" routerLinkActive="disabled">
        Perfil
      </a>
    </li>
    <li>
      <a [routerLink]="['./usuarios']" routerLinkActive="disabled">
        Usuários
      </a>
    </li>
    <li>
      <a [routerLink]="['./veiculos']" routerLinkActive="disabled">
        Veículos
      </a>
    </li>
    <li>
      <a [routerLink]="['./motoristas']" routerLinkActive="disabled">
        Motoristas
      </a>
    </li>
  </ul>
</div>
<div class="wrapper-content">
  <breadcrumb></breadcrumb>
  <router-outlet></router-outlet>
</div>