<div class="wrapper-content">
  <app-bread-crumb></app-bread-crumb>
  <section>
    <header class="page-header">
      <h2>
        Suporte
      </h2>
      <p>
        Relação de ferramentas de suporte
      </p>
    </header>
    <div class="row">
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 text-center margin-bottom-md margin-top-md">
        <a href="#" target="_blank">
          <img src="https://placeimg.com/240/240/tech" class="img-responsive">
        </a>
      </div>
    </div>
  </section>
</div>
