<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title background-line">
			<span>
				Esqueci minha senha
			</span>
		</div>
	</div>
	<div class="panel-body">
		<form action="/acesso/link-enviado" role="form" method="post">
			<p class="lead">
				Por favor, informe seu CPF para que <br class="hidden-xs">possamos enviar um email com um link <br class="hidden-xs">para que consiga realizar a troca da sua senha.
			</p>
			<div class="alert alert-danger" role="alert">Mensagem de erro</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="icon-user"></i>
					</span>
					<input id="cpf" type="text" class="form-control" name="text" value="" placeholder="cpf">
				</div>
			</div>

			<div class="form-group margin-bottom-xs">
				<button type="submit" class="btn btn-block">
					Redefinir Senha
				</button>
			</div>
			<div class="help">
				<a href="#">
					Precisa de ajuda? Fale com a nossa equipe!
				</a>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<hr>
	</div>
</div>
<div class="cta">
	<a href="/cadastro">
		<small>
			Não é cadastrado?
		</small>
		Cadastre-se agora!
	</a>
</div>