<!--<div class="wrapper">
  <div class="modo-tipousuario">
    <app-header></app-header>
    <div class="container-fluid">
      <app-sidebar-left></app-sidebar-left>
      <div class="wrapper-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>-->


<div class="wrapper">
  <div class="modo-tipousuario">
  
    <div class="container-fluid">

      <div class="wrapper-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


<!--<div class="login sign-in">
  <header>
    <a class="brand" href="/">
      <img src="/assets/beebee/img/logo-beebee-black.png" alt="Bee Bee">
    </a>
  </header>
  <section>
    <div class="auth">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>-->