<div id="navmenu-collapse" class="collapse anim-left navbar-collapse">
  <div class="navmenu-header">
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navmenu-collapse" aria-expanded="false">
      <i class="icon-close" aria-hidden="true"></i>
    </button>
    <bee-brand></bee-brand>
  </div>
  <nav class="navmenu-sidebar">
    <div class="wrapper-navmenu">
      <bee-menu> </bee-menu>
      <div class="nav-footer">
        <bee-market-place></bee-market-place>
        <bee-social-media></bee-social-media>
      </div>
    </div>
  </nav>
</div>