<app-business-heading></app-business-heading>
<div class="wrapper-content fix-heading">
	<app-bread-crumb></app-bread-crumb>
	<section>
    <header class="page-header">
      <h2>
        Veículos
      </h2>
      <p>
        Relação de veículos cadastrados
      </p>
      <div class="actions">
        <a [routerLink]="['/negocios/veiculos/novo']" class="btn btn-default">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Cadastrar
        </a>
      </div>
    </header>
		<div class="row">
			<div class="col-xs-12">
				<section>
					<div class="panel panel-default">
						<div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>
                        Cód.
                      </th>
                      <th>
                        Categoria
                      </th>
                      <th>
                        Veículo
                      </th>
                      <th>
                        Placa
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        &nbsp;
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        001
                      </td>
                      <td>
                        Moto
                      </td>
                      <td>
                        Kawasaki Ninja 300
                      </td>
                      <td>
                        MTR-6314
                      </td>
                      <td>
                        Disponível
                      </td>
                      <td>
                        <div class="btn-group pull-right">
                          <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Motoristas">
                            <i class="fa fa-user" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Bloquear disponibilidade">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        001
                      </td>
                      <td>
                        Moto
                      </td>
                      <td>
                        Kawasaki Ninja 300
                      </td>
                      <td>
                        MTR-6314
                      </td>
                      <td>
                        Em aprovação
                      </td>
                      <td>
                        <div class="btn-group pull-right">
                          <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Motoristas">
                            <i class="fa fa-user" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Bloquear disponibilidade">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        001
                      </td>
                      <td>
                        Moto
                      </td>
                      <td>
                        Kawasaki Ninja 300
                      </td>
                      <td>
                        MTR-6314
                      </td>
                      <td>
                        Indisponível
                      </td>
                      <td>
                        <div class="btn-group pull-right">
                          <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Motoristas">
                            <i class="fa fa-user" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Liberar disponibilidade">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </a>
                          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</div>
