<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title background-line">
			<span>
				Esqueci minha senha
			</span>
		</div>
	</div>
	<div class="panel-body">
		<form action="/acesso/tudo-certo" role="form" method="post">
			<p class="lead">
				Para definir sua senha, utilize pelo menos 8 caracteres. Evite senha já utilizada em outros sites ou que seja muito óbvia, como nomes ou datas que significam algo para você ou para alguém.
			</p>
			<div class="alert alert-danger" role="alert">Mensagem de erro</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="icon-lock"></i>
					</span>
					<input id="password" type="password" class="form-control" name="password" placeholder="nova senha">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="icon-lock"></i>
					</span>
					<input id="password-confirm" type="password" class="form-control" name="password-confirm" placeholder="confirme sua nova senha">
				</div>
			</div>

			<div class="form-group margin-bottom-xs">
				<button type="submit" class="btn btn-block">
					Confirmar
				</button>
			</div>
			<div class="help">
				<a href="#">
					Precisa de ajuda? Fale com a nossa equipe!
				</a>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<hr>
	</div>
</div>
<div class="cta">
	<a href="/cadastro">
		<small>
			Não é cadastrado?
		</small>
		Cadastre-se agora!
	</a>
</div>