<div class="wrapper-content">
  <breadcrumb></breadcrumb>
  <section>
    <header class="page-header">
      <h2>Cadastro de Meios de Recebimento</h2>
      <p>Informações da conta bancária para recebimentos de pagamentos</p>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <section>
          <div class="panel panel-default">
            <div class="panel-body">
              <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form.value)">
                <div class="form-group">
                  <label for="title">Título para referência:</label>
                  <input type="text" class="form-control" formControlName="title" [class.has-error]="form.get('title').errors && form.get('title').touched">
                  <p class="help-block" *ngIf="form.get('title').errors && form.get('title').touched">
                    * Campo obrigatório.
                  </p>
                </div>
                <h4>
                  Dados da conta
                </h4>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="bankNumber">Número do banco:</label>
                      <input type="text" class="form-control" formControlName="bankNumber" [class.has-error]="form.get('bankNumber').errors && form.get('bankNumber').touched">
                      <p class="help-block" *ngIf="form.get('bankNumber').errors && form.get('bankNumber').touched">
                        * Campo obrigatório.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="agency">Agência:</label>
                      <input type="text" class="form-control" formControlName="agency" [class.has-error]="form.get('agency').errors && form.get('agency').touched">
                      <p class="help-block" *ngIf="form.get('agency').errors && form.get('agency').touched">
                        * Campo obrigatório.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="account">Conta:</label>
                      <input type="text" class="form-control" formControlName="account" [class.has-error]="form.get('account').errors && form.get('account').touched">
                      <p class="help-block" *ngIf="form.get('account').errors && form.get('account').touched">
                        * Campo obrigatório.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="digit">Dígito:</label>
                      <input type="text" class="form-control" formControlName="digit" [class.has-error]="form.get('digit').errors && form.get('digit').touched">
                      <p class="help-block" *ngIf="form.get('digit').errors && form.get('digit').touched">
                        * Campo obrigatório.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="accountOwner">Nome do titular:</label>
                      <input type="text" class="form-control" formControlName="accountOwner" [class.has-error]="form.get('accountOwner').errors && form.get('accountOwner').touched">
                      <p class="help-block" *ngIf="form.get('accountOwner').errors && form.get('accountOwner').touched">
                        * Campo obrigatório.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="accountOwnerCpf">CPF do titular:</label>
                      <input type="text" class="form-control" formControlName="accountOwnerCpf" [textMask]="{mask: cpfMask}" [class.has-error]="form.get('accountOwnerCpf').errors && form.get('accountOwnerCpf').touched">
                      <p class="help-block" *ngIf="form.get('accountOwnerCpf').hasError('required') 
                        && form.get('accountOwnerCpf').touched">
                        * Campo obrigatório.
                        </p>
                        <p class="help-block" *ngIf="form.get('accountOwnerCpf').hasError('invalidCPF') 
                        && form.get('accountOwnerCpf').touched && !form.get('accountOwnerCpf').hasError('required')">
                          * CPF enválido.
                          </p>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!form.valid">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Salvar
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>