<div class="wrapper-content">
  <breadcrumb></breadcrumb>
  <section>
    <header class="page-header">
      <h2>
        Gerenciador de Negócios
      </h2>
      <p>
        Selecione o perfil de acesso que deseja utilizar
      </p>
      <div class="actions">
        <a [routerLink]="['/negocios/novo']" class="btn btn-default">
          <i class="fa fa-plus" aria-hidden="true"></i> Cadastrar Negócio
        </a>
      </div>
    </header>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="profile-button">
          <div class="row">
            <div class="col-sm-6 col-lg-4" (click)="switchProfile()">
              <span href="#" class="btn btn-block">
								<div class="media">
									<div class="media-left">
										<img src="../../../assets/beebee/img/profile.png">
									</div>
									<div class="media-body">
										<h4 class="media-heading">
											Acesso pessoal
										</h4>
										<small>
											{{cpf}}
										</small>
										<small>
											Retornar para sua conta
										</small>
									</div>
								</div>
							</span>
            </div>

            <div class="col-sm-6 col-lg-4" *ngFor="let company of companies" (click)="switchProfile(company)">
              <span class="btn btn-block">
								<div class="media">
									<div class="media-left">
										<img src="../../../assets/beebee/img/profile.png">
									</div>
									<div class="media-body">
										<h4 class="media-heading">
											{{company.tradingName}}
										</h4>
										<small>
											{{company.cnpj}}
										</small>
										<small>
											Retornar para sua conta
										</small>
									</div>
								</div>
							</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>