<div class="wrapper-content">
  <app-bread-crumb></app-bread-crumb>
  <section>
    <header class="page-header">
      <h2>
        Equipe Administrativa
      </h2>
      <p>
        Relação de usuários da equipe administrativa cadastrados
      </p>
      <div class="actions">
        <a [routerLink]="['/equipe/id']" class="btn btn-default">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Cadastrar
        </a>
      </div>
    </header>
		<div class="panel panel-default">
			<div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Nome
                </th>
                <th>
                  CPF
                </th>
                <th>
                  Celular
                </th>
                <th>
                  Email
                </th>
                <th>
                  Permissão
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-nowrap">
                  001
                </td>
                <td>
                  Felipe Lomeu
                </td>
                <td class="text-nowrap">
                  106.825.847-03
                </td>
                <td class="text-nowrap">
                  (27) 99887-6314
                </td>
                <td>
                  felipelomeu@hotmail.com
                </td>
                <td>
                  Admin
                </td>
                <td>
                  <div class="btn-group pull-right">
                    <a [routerLink]="['/equipe/id']" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-nowrap">
                  002
                </td>
                <td>
                  Juliano Petronetto
                </td>
                <td class="text-nowrap">
                  382.301.094-03
                </td>
                <td class="text-nowrap">
                  (27) 99837-2349
                </td>
                <td>
                  juliano.petronetto@gmail.com
                </td>
                <td>
                  Usuário
                </td>
                <td>
                  <div class="btn-group pull-right">
                    <a [routerLink]="['/equipe/id']" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-nowrap">
                  003
                </td>
                <td>
                  Ana Có
                </td>
                <td class="text-nowrap">
                  932.302.094-30
                </td>
                <td class="text-nowrap">
                  (27) 99823-2918
                </td>
                <td>
                  co.ana@gmail.com
                </td>
                <td>
                  Admin
                </td>
                <td>
                  <div class="btn-group pull-right">
                    <a [routerLink]="['/equipe/id']" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
			</div>
		</div>
  </section>
</div>
