<div class="wrapper-content">
  <breadcrumb></breadcrumb>
  <section>
    <header class="page-header">
      <h2>Passo 1 - Cadastro de Novo Negócio</h2>
      <p>Informações do novo negócio</p>
    </header>
  </section>
  <section>
    <header class="page-header">
      <h2>Passo 2 - Cadastro de Veículo</h2>
      <p>Informações do novo negócio</p>
    </header>
  </section>
  <section>
    <header class="page-header">
      <h2>Passo 3 - Cadastro de Motorista</h2>
      <p>Informações do novo negócio</p>
    </header>
  </section>
</div>