 <div class="wrapper-content">
	<app-bread-crumb></app-bread-crumb>
	<section>
		<header class="page-header">
			<h2>Cálculo de Fretes</h2>
      <p>Definições referentes aos pedidos de fretes</p>
		</header>
    <div class="panel panel-default">
      <div class="panel-body">
        <form novalidate>
          <div class="row">
            <div class="col-md-6 margin-bottom-lg">
              <h4>
                Origem à destino
              </h4>
              
            </div>
            <div class="col-md-6">
              <h4>
                Por hora
              </h4>
              
            </div>
          </div>
          <button type="submit" class="btn btn-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Salvar
          </button>
        </form>
      </div>
    </div>
	</section>
</div>